<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subscripcion">
            <h2><span jhiTranslate="plataformaBackofficeApp.subscripcion.detail.title">Subscripcion</span> {{ subscripcion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plataformaBackofficeApp.subscripcion.fecha">Fecha</span></dt>
                <dd>
                    <span>{{ subscripcion.fecha }}</span>
                </dd>
                <dt><span jhiTranslate="plataformaBackofficeApp.subscripcion.metodoPago">Metodo Pago</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'plataformaBackofficeApp.MetodoPago.' + subscripcion.metodoPago }}">{{ subscripcion.metodoPago }}</span>
                </dd>
                <dt><span jhiTranslate="plataformaBackofficeApp.subscripcion.pago">Pago</span></dt>
                <dd>
                    <div *ngIf="subscripcion.pagoId">
                        <a [routerLink]="['/pago', subscripcion.pagoId, 'view']">{{ subscripcion.pagoId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="plataformaBackofficeApp.subscripcion.funcion">Funcion</span></dt>
                <dd>
                    <div *ngIf="subscripcion.funcionId">
                        <a [routerLink]="['/funcion', subscripcion.funcionId, 'view']">{{ subscripcion.funcionId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="plataformaBackofficeApp.subscripcion.persona">Persona</span></dt>
                <dd>
                    <div *ngIf="subscripcion.personaId">
                        <a [routerLink]="['/persona', subscripcion.personaId, 'view']">{{ subscripcion.personaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subscripcion', subscripcion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
