<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDeObra">
            <h2><span jhiTranslate="plataformaBackofficeApp.tipoDeObra.detail.title">Tipo De Obra</span> {{ tipoDeObra.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plataformaBackofficeApp.tipoDeObra.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'plataformaBackofficeApp.TiposDeObra.' + tipoDeObra.tipo }}">{{ tipoDeObra.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="plataformaBackofficeApp.tipoDeObra.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{ tipoDeObra.descripcion }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-de-obra', tipoDeObra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
