<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pago">
            <h2><span jhiTranslate="plataformaBackofficeApp.pago.detail.title">Pago</span> {{ pago.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plataformaBackofficeApp.pago.idExterno">Id Externo</span></dt>
                <dd>
                    <span>{{ pago.idExterno }}</span>
                </dd>
                <dt><span jhiTranslate="plataformaBackofficeApp.pago.fechaExterna">Fecha Externa</span></dt>
                <dd>
                    <span>{{ pago.fechaExterna }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pago', pago.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
