<div>
    <h2 id="page-heading">
        <span jhiTranslate="plataformaBackofficeApp.contenido.home.title">Contenidos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contenido" [routerLink]="['/contenido/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="plataformaBackofficeApp.contenido.home.createLabel">
            Create a new Contenido
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contenidos?.length === 0">
        <span jhiTranslate="plataformaBackofficeApp.contenido.home.notFound">No contenidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contenidos && contenidos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="indice"><span jhiTranslate="plataformaBackofficeApp.contenido.indice">Indice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subindice"><span jhiTranslate="plataformaBackofficeApp.contenido.subindice">Subindice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoContenido"><span jhiTranslate="plataformaBackofficeApp.contenido.tipoContenido">Tipo Contenido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valor"><span jhiTranslate="plataformaBackofficeApp.contenido.valor">Valor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resumen"><span jhiTranslate="plataformaBackofficeApp.contenido.resumen">Resumen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="obraNombre"><span jhiTranslate="plataformaBackofficeApp.contenido.obra">Obra</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contenido of contenidos ;trackBy: trackId">
                    <td><a [routerLink]="['/contenido', contenido.id, 'view']">{{ contenido.id }}</a></td>
                    <td>{{ contenido.indice }}</td>
                    <td>{{ contenido.subindice }}</td>
                    <td>{{ contenido.tipoContenido }}</td>
                    <td>{{ contenido.valor }}</td>
                    <td>{{ contenido.resumen }}</td>
                    <td>
                        <div *ngIf="contenido.obraId">
                            <a [routerLink]="['/obra', contenido.obraId , 'view']" >{{ contenido.obraNombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contenido', contenido.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contenido', contenido.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contenido)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contenidos && contenidos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
