<div>
    <h2 id="page-heading">
        <span jhiTranslate="plataformaBackofficeApp.obra.home.title">Obras</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-obra" [routerLink]="['/obra/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="plataformaBackofficeApp.obra.home.createLabel">
            Create a new Obra
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="obras?.length === 0">
        <span jhiTranslate="plataformaBackofficeApp.obra.home.notFound">No obras found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="obras && obras.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="plataformaBackofficeApp.obra.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="plataformaBackofficeApp.obra.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imagen"><span jhiTranslate="plataformaBackofficeApp.obra.imagen">Imagen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="icono"><span jhiTranslate="plataformaBackofficeApp.obra.icono">Icono</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="protagonistas"><span jhiTranslate="plataformaBackofficeApp.obra.protagonistas">Protagonistas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccion"><span jhiTranslate="plataformaBackofficeApp.obra.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="autores"><span jhiTranslate="plataformaBackofficeApp.obra.autores">Autores</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fecha"><span jhiTranslate="plataformaBackofficeApp.obra.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duracion"><span jhiTranslate="plataformaBackofficeApp.obra.duracion">Duracion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoTipo"><span jhiTranslate="plataformaBackofficeApp.obra.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cuentaNombre"><span jhiTranslate="plataformaBackofficeApp.obra.cuenta">Cuenta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obra of obras ;trackBy: trackId">
                    <td><a [routerLink]="['/obra', obra.id, 'view']">{{ obra.id }}</a></td>
                    <td>{{ obra.nombre }}</td>
                    <td>{{ obra.descripcion }}</td>
                    <td>
                        <a *ngIf="obra.imagen" (click)="openFile(obra.imagenContentType, obra.imagen)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="obra.imagen">{{ obra.imagenContentType }}, {{ byteSize(obra.imagen) }}</span>
                    </td>
                    <td>
                        <a *ngIf="obra.icono" (click)="openFile(obra.iconoContentType, obra.icono)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="obra.icono">{{ obra.iconoContentType }}, {{ byteSize(obra.icono) }}</span>
                    </td>
                    <td>{{ obra.protagonistas }}</td>
                    <td>{{ obra.direccion }}</td>
                    <td>{{ obra.autores }}</td>
                    <td>{{ obra.fecha | date:'mediumDate' }}</td>
                    <td>{{ obra.duracion }}</td>
                    <td>
                        <div *ngIf="obra.tipoId">
                            <a [routerLink]="['/tipo-de-obra', obra.tipoId , 'view']" >{{ obra.tipoTipo }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="obra.cuentaId">
                            <a [routerLink]="['/cuenta', obra.cuentaId , 'view']" >{{ obra.cuentaNombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/obra', obra.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/obra', obra.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(obra)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="obras && obras.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
